bak
*.bak
sav
*.sav
tmp
*.tmp
*.t
build
bld/*
!bld/*.bat
!bld/*.txt
bmptg_smp/src_*
bmptg_smp/dst_*
bmptg_smp/tst_*
bmptg_smp/tmp*
smp/*
!smp/*.bat
!smp/*.txt
tst
test
obj_*
*.obj
*.pbk
*.ilk
*.suo
*.ncb
*.user
*.pdb
*.sdf
*.opensdf
Debug
Debug_*
Release
Release_*
CMakeFiles
CMakeCache.txt
*.lib
ImgFmt/zlib
ImgFmt/libpng
ImgFmt/jpeg
ImgFmt/turbojpeg
ImgFmt/mozjpeg
*.exe
Job/
set_old_vc.bat
my_*
tmp_*
thirdparty/lib
thirdparty/ccwrap
MyEx*
bld/bmptg
bld/ruig
zzz_*
err.txt
err_*.*
