bak
*.bak
sav
*.sav
tmp
*.tmp
bmptg_smp/src_
bmptg_smp/dst_
bmptg_smp/tst_
smp
tst
*.obj
*.exe
*.pbk
*.ilk
*.sdf
*.opensdf
Debug
Release
CMakeFiles
CMakeCache.txt
*.spi
*.lib
ImgFmt/zlib
ImgFmt/libpng
ImgFmt/jpeg
ImgFmt/turbojpeg
