bak
*.bak
sav
*.sav
tmp
*.tmp
bmptg_smp/src_*
bmptg_smp/dst_*
bmptg_smp/tst_*
bmptg_smp/tmp*
smp
tst
test
obj_*
*.obj
*.exe
*.pbk
*.ilk
*.sdf
*.opensdf
Debug
Debug_*
Release
Release_*
CMakeFiles
CMakeCache.txt
*.spi
*.lib
ImgFmt/zlib
ImgFmt/libpng
ImgFmt/jpeg
ImgFmt/turbojpeg
ImgFmt/mozjpeg
